**Given the following python code, what would the output of the code give?**

In [52]:

my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

**What would be the output for?** **bold text**

In [9]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [4]:
import pandas as pd

**If you have the following list
**lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]**

**col = [‘Age’,’Nationality’,’Overall’]**

**How do you create a pandas DataFrame using this list, to look like the table below?**

In [15]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

a = pd.DataFrame(lst, columns = col, index = [i for i in range(1,4)])
print(a)

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

**Consider the following list of tuples:**

**y = [(2, 4), (7, 8), (1, 5, 9)]**

**How would you assign element 8 from the list to a variable x?**

In [55]:
y = [(2, 4), (7, 8), (1, 5, 9)]
print('x =',y[1][-1])
print('x =',y[1][1])

x = 8
x = 8

In [45]:
csv = pd.read_csv("/content/FoodBalanceSheets_E_Africa_NOFLAG.csv",encoding ='latin-1')

In [47]:
csv.head(5)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

**What is the total number of unique countries in the dataset?**

In [51]:
csv['Area'].nunique()

49